# Compiled Content (Included for now)
# /[Cc]ompiled[Aa]ssets/
# /[Bb]in/

# User Files
/[Uu]ser[Ss]ettings/
/[Ll]og/

# Visual Studio cache directory
.vs/
.vscode/
/[Tt]emp/
/[Pp]roperties/
/[Oo]bj/

# Code Project Files
*.csproj*
*.sln
